target
.classpath
.project
.settings/
.idea/
*.iml
/demo/appweb
/demo/jboss-5.1.0.GA_cxf
/demo/scripts/genapp/genapp.log
/demo/scripts/genapp/lastconfig.properties
/demo/scripts
/demo/backup
/demo/demogenappfiles
/genapp-sqltutorial/scripts/genapp/genapp.log
/genapp-sqltutorial/gensqlschema
/genapp-sqltutorial/genappsqltutorialfiles
/genapp-sqltutorial/genappsqltutorial-back/src/main/resources/genapp_ca.properties
/genapp-sqltutorial/genappsqltutorial-back/src/main/resources/genapp_en.properties
/genapp-sqltutorial/genappsqltutorial-back/src/main/resources/genapp_es.properties
/genapp-sqltutorial/genappsqltutorial-back/src/main/resources/genappsqltutorial_genapp_ca.properties
/genapp-sqltutorial/genappsqltutorial-back/src/main/resources/genappsqltutorial_genapp_es.properties
/genapp-sqltutorial/genappsqltutorial-back/src/main/resources/logicmissatges_ca.properties
/genapp-sqltutorial/genappsqltutorial-back/src/main/resources/logicmissatges_en.properties
/genapp-sqltutorial/genappsqltutorial-back/src/main/resources/logicmissatges_es.properties
/genapp-generator/genapp.log
/demo/generat
